:root {
    /* Primary */
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    /* Neutral */
    --very-dark-blue-main: hsl(217, 54%, 11%);
    --very-dark-blue-card: hsl(216, 50%, 16%);
    --very-dark-blue-line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
    background-color: var(--very-dark-blue-main);
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nft-card {
    background-color: var(--very-dark-blue-card);
    color: var(--soft-blue);
    width: 350px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 5px 100px hsl(0deg 0% 0% / 25%);
}

.nft-card-img {
    position: relative;
}

.equilibrium-img {
    height: 325px;
    width: 100%;
    border-radius: 10px;
}
.card-img-hover {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 325px;
    width: 100%;
    background: hsl(178deg 100% 50% / 50%);
    opacity: 0;
    border-radius: 10px;
    position: absolute;
    top: 0;
}
.card-img-hover:hover {
    transition: 1s;
    opacity: 1;
    cursor: pointer;
}

.view-icon {
    height: 50px;
    width: 50px;
}

.nft-card-content {
    margin: 20px 0 10px;
}

.nft-card-content h1 {
    font-size: 1.25em;
    color: var(--white);
    margin-bottom: 20px;
}
.nft-card-content h1:hover {
    color: var(--cyan);
    cursor: pointer;
}

.nft-card-content-value-time {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.nft-card-content-value-time p {
    display: flex;
    align-items: center;
    font-size: .9em;
}
.nft-card-content-value-time p:first-child {
    font-weight: 600;
    color: var(--cyan);
}

.nft-card-content-value-time img {
    margin-right: 7.5px;
}

.nft-card-footer {
    display: flex;
    align-items: center;
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px solid var(--very-dark-blue-line);
}

.nft-creator-avatar {
    background-image: url(images/image-avatar.png);
    background-size: cover;
    background-position: center;
    height: 35px;
    width: 35px;
    border: 1px solid var(--white);
    border-radius: 50%;
    margin-right: 15px;
}

.nft-card-footer span {
    color: var(--white);
}
.nft-card-footer span:hover {
    color: var(--cyan);
    cursor: pointer;
}




@media only screen and (max-width: 375px) {
 .nft-card {
     width: 325px;
 }
}